# Install PyTorch Nightly separately before this file:
# pip install --pre torch torchvision torchaudio --index-url https://download.pytorch.org/whl/nightly/cu128

gradio==3.50.2
fastapi==0.104.1
starlette==0.27.0
anyio==3.7.1
pydantic==1.10.24
diffusers==0.33.1
transformers==4.51.3
accelerate==1.6.0
huggingface-hub==0.30.2
safetensors==0.5.3
numpy==1.26.4
scipy==1.12.0
Pillow==10.4.0
opencv-python==4.10.0.84
deep-translator==1.11.4
addict==2.4.0
yapf==0.40.2
timm==1.0.15
pycocotools==2.0.8
